body {
    margin: 0; /* Removes default margin */
    background-color: #222222
}

html, body {
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
    width: 100vw; /* Stellt sicher, dass die Seite nicht breiter als der Viewport ist */
}

.top-menu a.active {
    position: relative;
    padding-bottom: 4px; /* Space between the text and the line */
}

.top-menu a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centers the line */
    width: 60px; /* Set the width of the line */
    height: 1px; /* Set the thickness of the line */
    background-color: white; /* Line color */
}

.Kontakt-Button {
    position: fixed; /* Standardmäßig fixiert */
    bottom: 20%;
    right: 5%;
    background-color: #A79F79;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.titelbild {
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
    width: 100%;
    height: 1000;
}

.hochformatBild {
    -webkit-mask-image: linear-gradient(to top, black 50px, transparent 100px);
    mask-image: linear-gradient(to top, black 50px, transparent 1000px);
    width: 500px;
    height: 1000;
}

.hochformatBildContact {
    -webkit-mask-image: linear-gradient(to top, black 50px, transparent 100px);
    mask-image: linear-gradient(to top, black 50px, transparent 1000px);
    width: 500px;
    height: 1000;
}

.title-text {
    font-family: 'Inter', sans-serif;
    font-weight: 100; /* Extra Light */
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2; /* In front of the image */
    color: white;
    font-size: 4rem;
    text-align: left;
    transition: opacity 0.5s ease-out;
}

.title-text-resume {
    font-family: 'Inter', sans-serif;
    font-weight: 100; /* Extra Light */
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2; /* In front of the image */
    color: white;
    font-size: 55px;
    text-align: left;
    transition: opacity 0.5s ease-out;
}

.menu {
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2; /* In front of the image */
    color: white;
    font-size: 4rem;
    text-align: left;
}

.titelbild {
        width: 100%; /* Full width */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Removes small gap under the image */    
}

.resume {
    position: absolute;
    top: 80%;
    background-color: transparent;
    text-align: left; /* Center-align the text */
    font-size: 22px; /* Adjust font size as needed */  
    line-height: 32px;
    color: #ffffff; /* Set text color */
    padding: 10px;
    margin-left: 30%;
    margin-right: 15%;
}

.indented {
    display: inline-block;
    text-indent: 20px; /* Einzug */
    font-size: 4rem; /* Optional: etwas kleinere Schrift */
}

.top-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50px;
    text-align: right;
    background-color: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align buttons to the right */
    padding: 0 20px;
    padding-top: 10px;
}

.top-menu.scrolled {
    position: fixed;
    z-index: 3;
    background-color: rgba(113, 113, 113, 0.8);
    height: 70px;
    transition: all 0.3s ease;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-20px); /* Move slightly up */
    margin-right: auto; /* Pushes the menu items to the right */
    margin-left: 20px;
}

.logo2 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: white;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-right: auto; /* Pushes the menu items to the right */
    margin-left: 20px;
}

.top-menu.scrolled .logo {
    opacity: 1; /* Make it visible */
    transform: translateY(0);
}

.top-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 1.2rem; 
    margin-right: 32px;
    padding: 5px 10px;
    display: inline-block;
    width: 80px;
    text-align: center;
    transition: font-weight 0.2s ease-in-out, color 0.2s ease-in-out;
}

.top-menu a:hover {
    font-weight: 700;
    color: #ffffff;
}

.text-containter {
    color: red;
}

.text-area {
    background-color: transparent;
    text-align: left; /* Center-align the text */
    font-size: 18px; /* Adjust font size as needed */
    line-height: 32px; 
    color: #ffffff; /* Set text color */
    padding: 10px;
    margin-left: 10%;
    margin-right: 30%;
}

.text-area-events {
    background-color: transparent;
    text-align: left; /* Center-align the text */
    font-size: 18px; /* Adjust font size as needed */
    line-height: 32px; 
    color: #ffffff; /* Set text color */
    padding: 10px;
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 30%;
}
    
.footer {
    position: relative;
    background-color: rgb(103, 103, 103);
    margin-top: 20px; /* Adjust spacing from the image */
    text-align: center; /* Center-align the text */
    font-size: 12px; /* Adjust font size as needed */
    color: #ffffff; /* Set text color */
    padding: 10px;
}

.footer-resume {
    position: relative;
    width: 100%;
    background-color: rgb(103, 103, 103);
    margin-top: 700px; /* Adjust spacing from the image */
    text-align: center; /* Center-align the text */
    font-size: 12px; /* Adjust font size as needed */
    color: #ffffff; /* Set text color */
    padding: 10px;
}

.kleine-trennlinie {
    width: 150px;  /* Länge der Trennlinie */
    margin: 5px auto; /* Zentriert zwischen den Absätzen */
    border: none; /* Entfernt die Standardlinie */
    height: 0.2px; /* Höhe der Linie */
    background-color: rgb(255, 255, 255); /* Farbe der Linie */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Abstand zwischen den Symbolen */

}

.icon {
    width: 25px;
    height:25px;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1px
}

h1 {
    margin-bottom: 50px; /* Adds space below the h1 */
}

h2 {
    margin-top: 10px; /* Adds space above the h2 */
    margin-bottom: 20px; /* Optional: Adjust space below the h2 */
}

p {
    margin: 2px 0; /* Reduces spacing between paragraphs */
    margin-left: 30px;
}

.Date {
    font-weight:bolder;
}

.resumeText {
    margin: 20px 0
}

.footerP {
    margin-left: 0px;
}

.kleine-trennlinie {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dünnerText {
    font-family: 'Inter', sans-serif;
    font-weight: 100; /* Extra Light */
}